@model OffTheGrid.Demos.Layouts.ViewModels.SlideEditorViewModel
@{
    Layout.Title = T("Create Slide");
}
@using (Html.BeginFormAntiForgeryPost()) {
    @Html.EditorForModel()
    <fieldset>
        <button type="submit" name="submit.Save" value="submit.Save">@T("Create")</button>
        @Html.ActionLink(T("Cancel").ToString(), "Edit", "Element", new { session = Model.Session, area = "Orchard.Layouts" }, new { @class = "button" })
    </fieldset>
}