@model OffTheGrid.Demos.Layouts.ViewModels.ElementViewModel
<fieldset>
    <div class="form-group">
        @Html.CheckBoxFor(m => m.FadeIn)
        @Html.LabelFor(m => m.FadeIn, T("Fade In").ToString(), new { @class = "forcheckbox" } )
        @Html.Hint(T("Causes the element to fade in on document ready (using CSS animations)."))
    </div>
</fieldset>